/*
Theme Name: HOLD - Prime Ministers (OTR)
Theme URI: http://hold.mx/
Description: Prime Ministers (OTR)
Author: Israel Falcón
Version: 1.0
Tags:
*/
@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ITCAmericanTypewriterStdMedium';
    src: url('fonts/americantypewriterstd-med.eot');
    src: url('fonts/americantypewriterstd-med.eot') format('embedded-opentype'),
         url('fonts/americantypewriterstd-med.woff') format('woff'),
         url('fonts/americantypewriterstd-med.ttf') format('truetype'),
         url('fonts/americantypewriterstd-med.svg#ITCAmericanTypewriterStdMedium') format('svg');
}
@font-face {
    font-family: 'anodyneregular';
    src: url('fonts/anodyne-webfont.eot');
    src: url('fonts/anodyne-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anodyne-webfont.woff') format('woff'),
         url('fonts/anodyne-webfont.ttf') format('truetype'),
         url('fonts/anodyne-webfont.svg#anodyneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anodyne_combinedregular';
    src: url('fonts/anodynecombined-webfont.eot');
    src: url('fonts/anodynecombined-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anodynecombined-webfont.woff') format('woff'),
         url('fonts/anodynecombined-webfont.ttf') format('truetype'),
         url('fonts/anodynecombined-webfont.svg#anodyne_combinedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anodyne_combineditalic';
    src: url('fonts/anodynecombineditalic-webfont.eot');
    src: url('fonts/anodynecombineditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anodynecombineditalic-webfont.woff') format('woff'),
         url('fonts/anodynecombineditalic-webfont.ttf') format('truetype'),
         url('fonts/anodynecombineditalic-webfont.svg#anodyne_combineditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anodyneitalic';
    src: url('fonts/anodyneitalic-webfont.eot');
    src: url('fonts/anodyneitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anodyneitalic-webfont.woff') format('woff'),
         url('fonts/anodyneitalic-webfont.ttf') format('truetype'),
         url('fonts/anodyneitalic-webfont.svg#anodyneitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anodyne_shadowregular';
    src: url('fonts/anodyneshadow-webfont.eot');
    src: url('fonts/anodyneshadow-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anodyneshadow-webfont.woff') format('woff'),
         url('fonts/anodyneshadow-webfont.ttf') format('truetype'),
         url('fonts/anodyneshadow-webfont.svg#anodyne_shadowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anodyne_shadowitalic';
    src: url('fonts/anodyneshadowitalic-webfont.eot');
    src: url('fonts/anodyneshadowitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anodyneshadowitalic-webfont.woff') format('woff'),
         url('fonts/anodyneshadowitalic-webfont.ttf') format('truetype'),
         url('fonts/anodyneshadowitalic-webfont.svg#anodyne_shadowitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body#bg { 
    background: #000 url(img/bg.jpg) 50% 0 no-repeat fixed;
    /*min-height: 1000px;*/
    /*max-height: 2100px;*/
    height: 3880px;
    margin: 0 auto; 
    width: 100%; 
    max-width: 1400px; 
    position: relative; 
}
#header {
    height: 340px;
}
#header .g960 {
	background: url(img/banner-header.png) no-repeat top left;
	height: 340px;
}
h1 {
    font-family: 'anodyneregular';
    color: #2C2517;
    font-size: 58px;
    line-height: 80%;
}
h2, h2 a {
    font-family: 'bebas_neueregular';
    color: #332A0E;
}
h3, h3 a {
    font-family: 'bebas_neueregular';
    font-size: 22px;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
}
p {
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 14px;
    color: #332A0E;
}
a.button {
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    display: block;
    width: 100px;
    height: 14px;
    padding: 3px 0 0 0;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #4B3E0F),
        color-stop(1, #382E0A)
    );
    background-image:      -o-linear-gradient(bottom, #4B3E0F 0%, #382E0A 100%);
    background-image:    -moz-linear-gradient(bottom, #4B3E0F 0%, #382E0A 100%);
    background-image: -webkit-linear-gradient(bottom, #4B3E0F 0%, #382E0A 100%);
    background-image:     -ms-linear-gradient(bottom, #4B3E0F 0%, #382E0A 100%);
    background-image:      linear-gradient(to bottom, #4B3E0F 0%, #382E0A 100%);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px; 
    -webkit-box-shadow: inset 1px 1px 2px #675C34;
       -moz-box-shadow: inset 1px 1px 2px #675C34;
            box-shadow: inset 1px 1px 2px #675C34;              
    border-right: 1px solid #261F06;
    border-bottom: 1px solid #100D04;
}
a.button:hover {
    text-decoration: none;
}
a.btn-more-info {
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    background: url(img/bg-btn.png) no-repeat top left;
    display: block;
    width: 175px;
    height: 22px;
    padding: 13px 0 0 0;
}
a.btn-more-info:hover {
    text-decoration: none;
}
a.itunes {
    background: url(img/ico-itunes.png);
    display: block;
    width: 100px;
    height: 37px;
    float: right;
}
a.play {
    content: url(img/ico-arrow.png);
    display: block;
    width: 15px;
    height: 15px;
    margin: 3px auto;
}
span.copyright {
    color: #000; 
    float: right;  
}
ul.main-nav {
	background: black;
	background: rgba(0, 0, 0, .6);
	padding: 12px;
	margin: 0;
	height: 31px;
}
ul.main-nav li {
	border-right: 1px solid #FFFFFF;
	margin: 0 7px 0 0;
	padding: 0 8px 0 0;
}
ul.main-nav li:last-child {
	border-right: 0;
	margin-right: 0;
	padding-right: 0;
}
ul.main-nav li a {
	font-family: 'bebas_neueregular';
	font-size: 41px;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 80%;
}
ul.main-nav li a:hover,
ul.main-nav li.current-menu-item a {
	color: #625136;
	text-decoration: none;
}
ul.main-nav li.home a {
    background: url(img/ico-home.png);
    width: 31px;
    height: 33px;
    display: block;
    text-indent: -9999px;
}
ul.main-nav li.home.current-menu-item a {
    background: url(img/ico-home-h.png);
}
ul.language li:first-child {
	border-right: 1px solid #FFFFFF;
	margin-right: 10px;
	padding-right: 10px;
}
ul.language li:last-child {
	margin-right: 0;
}
ul.language li a {
	font-family: 'anodyneregular';
	font-size: 21px;
	color: #FEFEFE;
	float: right;
}
li.social {
	height: 50px;
}
li.social a {
	display: inline-block;
	width: 45px;
	height: 45px;
	margin: 0px;
}
ul.social {
	margin: 110px 0 0 0;
}
a.tw {
	background: url(img/ico-tw.png) top left no-repeat;
}
a.yt {
    background: url(img/ico-yt.png) top left no-repeat;
}
a.ins {
    background: url(img/ico-ins.png) top left no-repeat;
}
a.gp {
    background: url(img/ico-gp.png) top left no-repeat;
}
a.it {
    background: url(img/ico-it.png) top left no-repeat;
}
a.reverbnation {
    background: url(img/ico-reverbnation.png) top left no-repeat;
}
a.spotify {
    background: url(img/ico-spotify.png) top left no-repeat;
}
.h5px {
	height: 5px;
}
.h25px {
    height: 25px;
}
.h30px {
    height: 30px;
}
.h50px {
    height: 50px;
}
.h90px {
    height: 90px;
}
.h95px {
    height: 95px;
}
.h120px {
    height: 120px;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml13 {
    margin-left: 13px;
}
.ml30 {
    margin-left: 30px;
}
.ml330 {
    margin-left: 330px;
}
.relative {
	position: relative;
}
#footer {
    height: 40px;
    position: absolute;
    bottom: 0;
}
#full-band {
    background: url(img/bg-band.png) no-repeat center top;
}
#band {
    height: 450px;
}
#band .content {
    background: url(img/paper330x450.png) no-repeat top left;
    position: absolute;
    display: block;
    width: 220px;
    height: 390px;
    padding: 35px 70px 25px 40px;
    top: 0;
}
#band .content p {
    font-size: 11px;
    color: #30260E;
}
#band-int {
    margin-top: 400px;
}
#band-int .content h1 {
    margin-bottom: 0;
}
#band-int .content h2 {
    font-size: 21px;
    color: #3D2C21;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#band-int .content a.button {
    margin-top: 3px;
}
#band-int .content .row-1 {
    /*padding: 50px 30px 60px 30px;*/
    /*height: 270px;*/
    position: relative;
    z-index: 5;
}
#band-int .content .row-1 .header {
    display: block;
    background: url(img/top-banda.png) no-repeat top left;
    width: 940px;
    height: 80px;
}
#band-int .content .row-1 .content {
    background: url(img/bg-banda.png) repeat;
    padding: 1px 30px;
}
#band-int .content .row-1 .footer {
    display: block;
    background: url(img/bottom-banda.png) no-repeat top left;
    width: 940px;
    height: 92px;
    position: relative;
    top: -1px;
}
#band-int .content .row-2 {
    padding: 100px 30px 60px 30px;
    height: 260px;
    position: relative;
    top: -90px;
    z-index: 4;
}
#band-int .content .row-2 .content {
    width: 530px;
}
#band-int .content .row-3 {
    padding: 40px 30px 40px 30px;
    height: 330px;
    position: relative;
    top: -155px;
    z-index: 3;
}
#band-int .content .row-3 .content {
    width: 520px;
}
#band-int .content .row-3 .content h2, 
#band-int .content .row-3 .content p {
    -webkit-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
}
#band-int .content .row-4 {
    padding: 70px 30px 70px 30px;
    height: 330px;
    position: relative;
    top: -220px;
    z-index: 2;
}
#band-int .content .row-4 .content {
    width: 530px;
}
#band-int .content .row-5 {
    padding: 50px 30px 60px 30px;
    height: 330px;
    position: relative;
    top: -290px;
    z-index: 1;  
}
#band-int .content .row-5 .content {
    width: 520px;
}
#band-int .content .row-5 .content h2, 
#band-int .content .row-5 .content p {
    -webkit-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);  
}
#photos .content {
    min-height: 400px;
    padding: 30px 50px 10px 50px;
    margin: 2px 0 0 0;
    border-top: 6px double #B0B0B0;
    background: url(img/bg-photos.png) no-repeat top left;
}
#photos .content#id-7 {
    border-top: none;
    padding: 60px 50px 10px 50px; 
    min-height: 500px;
}
#photos .content h1 {
    font-family: 'bebas_neueregular';
    color: #FFFFFF;
}
#photos img {
    border: 2px solid #FFFFFF;
}
#schedule {
    background: url(img/paper-footer.png) no-repeat bottom;
    padding-bottom: 156px;
    position: relative;
    z-index: 2;
}
#schedule .content {
    background: url(img/paper-bg.png);
    padding: 30px 50px 10px 50px;
}
#schedule .content table {
    width: 100%;
    margin: 0;
}
#schedule .content table tr {
   border-bottom: 3px solid #989695; 
}
#schedule .content table tr:last-child {
    border-bottom: none;
}
#schedule .content table tr td {
    font-family: 'bebas_neueregular';
    font-size: 22px;
    color: #332A0E;
    padding: 5px;
}
#music {
    position: relative;
    top: -75px;
    z-index: 1;
}
#music .content {
    background: url(img/bg-music.png) no-repeat top left;
    padding: 90px 50px 50px 50px;
}
body.category-9 #music {
    top: 0;
}
body.category-9 #music .content {
    padding: 30px 50px 280px 50px;
}
#music .content h1 {
    font-family: 'bebas_neueregular';
    color: #FFFFFF;
    margin-bottom: 5px;
}
#music .content img {
    border: 2px solid #FFFFFF;
}
#music .content table {
    width: 100%;
    position: relative;
    z-index: 0;
}
#music .content table tr {
   border-bottom: 1px solid #CDBCA3; 
}
#music .content table tr:last-child {
    border-bottom: none;
}
#music .content table tr td h1 {
    font-family: 'bebas_neueregular';
    font-size: 23px;
    color: #FFFFFF;
    line-height: 85%;
    float: left;
    text-decoration: none;
    margin: 3px 0;
}
#music .content table tr td h1 a:after {
    content: none;
}
#music .content p {
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
#music .content #discography h1 {
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 12px;
    color: #FFFFFF;  
    text-transform: uppercase;
    margin-bottom: 5px;
}
body.category-9 #music #inf-adicional {
    display: none;
}
#videos {
    position: relative;
    top: -150px;
    z-index: 2;
}
#videos .header {
    background: url(img/paper-header.png) no-repeat top;
    padding: 75px 50px 15px 50px;
}
#videos .header h1 {
    margin-bottom: 0;
}
#videos .content {
    background: url(img/bg-videos.png)no-repeat top left; 
    height: 170px;
    padding: 65px 20px;
}
#videos-int {
    background: url(img/paper-footer.png) no-repeat bottom;
    padding-bottom: 156px;
}
#videos-int .content {
    background: url(img/paper-bg.png);
    padding: 20px 0px 10px 0;
}
#videos-int .content .bg {
    background: url(img/bg-videos.png) repeat-y top left; 
    height: auto;
    padding: 65px 20px 0 20px;
}
#videos-int .content .bg h2,
#videos-int .content .bg h2 a {
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 18px;
    color: #4B4B4B;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    display: block;
}
#news {
    background: url(img/paper-footer.png) no-repeat bottom;
    padding-bottom: 156px;
}
#news .content {
    background: url(img/paper-bg.png);
    padding: 50px 30px 0px 30px;
}
#news .content h1 {
    text-align: center;
    margin-bottom: 30px;
}
#news .content h2 {
    font-size: 21px;
    color: #332A0E;
    line-height: 90%;
}
#news .content p {
    font-size: 16px;
    color: #332A0E;
}
#news .content img {
    border: 2px solid #FFFFFF;
}
#contact {
    background: url(img/paper-footer.png) no-repeat bottom;
    padding-bottom: 156px;
}
#contact .content {
    background: url(img/paper-bg.png);
    padding: 40px 80px 0px 80px;
}
#contact .content img {
    border: 2px solid #FFFFFF;
}
#contact .content h1 {
    line-height: 90%
}
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    border: none;
    background: #2D2515;
    width: 264px;
    height: 48px;
    padding-left: 15px;
    margin-bottom: 20px;
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 14px;
    color: #E4DDD2;
}
#contact textarea {
    width: 263px;
    height: 103px;
    padding-top: 15px;
    margin-bottom: 10px;
}
#contact a {
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 12px;
    color: #332A0E;
}
#contact input[type="submit"] {
    background: url(img/bg-btn.png) no-repeat top left;
    border: none;
    width: 175px;
    height: 35px;
    padding: 7px 0 0 0;
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: right;
    cursor: pointer;
}
#default {
    background: url(img/paper-footer.png) no-repeat bottom;
    padding-bottom: 156px;
}
#default .content {
    background: url(img/paper-bg.png);
    padding: 50px 30px 0px 30px;
}
#default .content img {
    border: 2px solid #FFFFFF;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 14px;
    color: #5F5952;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 14px;
    color: #5F5952;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 14px;
    color: #5F5952;
}
#comments h3 {
    font-family: 'bebas_neueregular';
    font-size: 21px;
    color: #3D2C21;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#comments img.avatar {
    display: none;
}
#comments cite.fn {
    font-size: 15px;
    font-weight: bold;
    color: #3D2C21;
    font-style: normal;
}
#comments a.comment-reply-link {
    color: #000;
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
}
#comments a {
    color: #3D2C21;
}
#comments .comment-meta.commentmetadata {
    display: block;
    margin-bottom: 10px;
}
#comments .comment-meta.commentmetadata a {
    color: #000;
    font-style: italic;
    text-decoration: none;
}
#comments input[type="text"],
#comments textarea {
    border: none;
    background: #2D2515;
    padding-left: 15px;
    width: 97%;
    height: 48px;
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 14px;
    color: #E4DDD2;
}
#comments textarea { 
    height: 133px;
    padding-top: 15px;
}
#comments input[type="submit"] {
    background: url(img/bg-btn.png) no-repeat top left;
    border: none;
    width: 175px;
    height: 35px;
    padding: 4px 0 0 0;
    font-family: 'ITCAmericanTypewriterStdMedium';
    font-size: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: right;
    cursor: pointer;
}
#boletin h1 {
    font-size: 21px;
    color: #FEFEFE;
    margin: 5px 0;
    float: right;
}
#boletin input[type="text"],
#boletin input[type="email"] {
    border: none;
    width: 189px;
    height: 25px;
    padding-left: 10px;
}
#boletin input[type="submit"] {
    border: none;
    background: #61512D;
    width: 80px;
    height: 27px;
    font-family: 'anodyneregular';
    font-size: 17px;
    color: #FFFFFF; 
}
#boletin div.wpcf7 img.ajax-loader {
    display: none;
}
#boletin div.wpcf7-mail-sent-ok,
#boletin div.wpcf7-validation-errors {
    display: none !important;
}
#boletin span.wpcf7-not-valid-tip {
    position: relative;
    top: -28px;
    float: right;
    height: 0px;
}
.mejs-container .mejs-controls .mejs-time {
	display: none !important;
}
.mejs-controls div.mejs-time-rail {
	display: none !important;
}
.mejs-container {
	background: transparent !important;
}
.mejs-container .mejs-controls {
	background: transparent !important;
}
.mejs-controls .mejs-volume-button {
	display: none !important;
}
.mejs-controls div.mejs-horizontal-volume-slider {
	display: none !important;
}
.mejs-container {
	width: 25px!important;
	float: right;
}

div.content a {
    color: #000;
    font-weight: bold;
}

ul#menu-shop {
    float:right;
}
ul#menu-shop li:first-child {
    border-right: 1px solid #FFFFFF;
    margin-right: 10px;
    padding-right: 10px;
}

ul#menu-shop li {
    list-style: none;
    float: left;
    display: inline-block;
    margin: 0 30px 0 0;
}

ul#menu-shop li a {
font-family: 'anodyneregular';
font-size: 21px;
color: #FEFEFE;
float: right;
}