.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
	color: #000;
	font-size: 18px;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	text-align: center;
}

.woocommerce .products .star-rating, .woocommerce-page .products .star-rating {
	display: block;
	float: none;
	margin: 0 auto .5em;
}

.woocommerce .star-rating span, .woocommerce-page .star-rating span {
	color: #D9A300;
	float: left;
	left: 0;
	overflow: hidden;
	position: absolute;
	padding-top: 1.5em;
	top: 0;
}

.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
	color: #000;
}

.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {
	width: 115px;
	font-size: 100%;
	font-family: 'ITCAmericanTypewriterStdMedium' !important;
	margin: 0;
	line-height: 1em;
	cursor: pointer;
	position: relative;
	font-family: inherit;
	overflow: visible;
	padding: 10px 10px 5px;
	text-decoration: none;
	font-weight: 700;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	left: auto;
	color: #fff;
	border: none;
	text-shadow: none;
	background: #f7f6f7;
	background: -webkit-gradient(linear,left top,left bottom,from(#4B3E0F),to(#382E0A));
	background: -webkit-linear-gradient(#4B3E0F,#382E0A);
	background: -moz-linear-gradient(center top,#4B3E0F 0,#382E0A 100%);
	background: -moz-gradient(center top,#4B3E0F 0,#382E0A 100%);
	white-space: nowrap;
	display: inline-block;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.075),inset 0 1px 0 rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.075),inset 0 1px 0 rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.075),inset 0 1px 0 rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.1);
}

.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover {
	background: #f7f6f7;
background: -webkit-gradient(linear,left top,left bottom,from(#645413),to(#382E0A));
background: -webkit-linear-gradient(#645413,#382E0A);
background: -moz-linear-gradient(center top,#645413 0,#382E0A 100%);
background: -moz-gradient(center top,#645413 0,#382E0A 100%);
text-decoration: none;
}

.woocommerce-page a.button.wc-backward {
	width: 150px;
	font-family: Arial;
}

.woocommerce div.product form.cart .variations select, .woocommerce #content div.product form.cart .variations select, .woocommerce-page div.product form.cart .variations select, .woocommerce-page #content div.product form.cart .variations select {
width: 100%;
float: left;
margin: 0;
}

.woocommerce #content div.product form.cart .variations tr {
	height: 30px;
}

.woocommerce #content div.product form.cart .variations tr td.label {
	padding-top: 2px;
}

.woocommerce #content div.product form.cart .variations tr td.value .reset_variations {
	margin: 5px 0 0 8px;
	line-height: 30px;
}

.woocommerce div.product span.price, .woocommerce div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content div.product p.price, .woocommerce-page div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content div.product p.price {
color: #625136;
font-size: 2.25em;
}

.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus {
bottom: 10px;
right: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.woocommerce .cart .cart_item .quantity .minus {
	bottom: 0 !important;
}

.woocommerce .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce-page #content .quantity .plus {
top: 0px;
right: 0;
border-bottom: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.woocommerce div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce-page #content div.product form.cart .button {
vertical-align: middle;
float: left;
margin-top: 1px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
list-style: none;
padding: 0 0 0 1em;
margin: 0 0 0;
overflow: hidden;
position: relative;
}

.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
margin: 0 0 2em;
padding: 20px;
background-color: #fff;
}

.woocommerce-page #review_form #respond p.stars a {
	color: #D9A300;
}

.woocommerce-review-link {
	color: #000;
}

.woocommerce .woocommerce-product-rating, .woocommerce-page .woocommerce-product-rating {
line-height: 2em;
display: block;
margin-bottom: 15px;
}

a.reset_variations {
	color: #000;
}

button.single_add_to_cart_button, input.checkout-button {
	width: auto !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#4B3E0F),to(#382E0A)) !important;
	background: -webkit-linear-gradient(#4B3E0F,#382E0A)!important;
	background: -moz-linear-gradient(center top,#4B3E0F 0,#382E0A 100%)!important;
	background: -moz-gradient(center top,#4B3E0F 0,#382E0A 100%)!important;

}

button.single_add_to_cart_button:hover, input.checkout-button:hover {
	background: -webkit-gradient(linear,left top,left bottom,from(#645413),to(#382E0A))!important;
	background: -webkit-linear-gradient(#645413,#382E0A)!important;
	background: -moz-linear-gradient(center top,#645413 0,#382E0A 100%)!important;
	background: -moz-gradient(center top,#645413 0,#382E0A 100%)!important;
}

.woocommerce a.button.added:before, .woocommerce button.button.added:before, .woocommerce input.button.added:before, .woocommerce #respond input#submit.added:before, .woocommerce #content input.button.added:before, .woocommerce-page a.button.added:before, .woocommerce-page button.button.added:before, .woocommerce-page input.button.added:before, .woocommerce-page #respond input#submit.added:before, .woocommerce-page #content input.button.added:before {
	color: #000;
	}

a.added_to_cart {
	color: #000;
}

.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
	line-height: 1.5em;
	padding: 6px 6px 0;
	font-family: 'ITCAmericanTypewriterStdMedium' !important;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	width: auto;
}

.woocommerce td.product-name dl.variation dd, .woocommerce-page td.product-name dl.variation dd {
	padding: 0 !important;
}

.woocommerce td.product-name dl.variation dt, .woocommerce td.product-name dl.variation dd, .woocommerce-page td.product-name dl.variation dt, .woocommerce-page td.product-name dl.variation dd {
	margin-bottom: 0 !important;
}

.woocommerce table.cart a.remove, .woocommerce #content table.cart a.remove, .woocommerce-page table.cart a.remove, .woocommerce-page #content table.cart a.remove {
	display: block;
	font-size: 1.5em;
	height: 1em;
	width: 1em;
	text-align: center;
	line-height: 0.8em;
	border-radius: 100%;
	color: red;
	text-decoration: none;
	font-weight: bold;
}

.woocommerce .shop_table .cart_item .product-name a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.woocommerce .shop_table .cart_item .product-name a:hover {
	text-decoration: underline;
}

.woocommerce td.product-name dl.variation, .woocommerce-page td.product-name dl.variation {
margin: .25em 0 0;
}

.woocommerce div.cart-collaterals .shipping_calculator a.shipping-calculator-button {
	font-size: 18px;
	font-family: 'ITCAmericanTypewriterStdMedium' !important;
	margin: 0;
	line-height: 1em;
	cursor: pointer;
	position: relative;
	font-family: inherit;
	overflow: visible;
	padding: 10px 10px 5px;
	text-decoration: none;
	font-weight: 700;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	left: auto;
	color: #fff;
	border: none;
	text-shadow: none;
	background: #f7f6f7;
	background: -webkit-gradient(linear,left top,left bottom,from(#4B3E0F),to(#382E0A));
	background: -webkit-linear-gradient(#4B3E0F,#382E0A);
	background: -moz-linear-gradient(center top,#4B3E0F 0,#382E0A 100%);
	background: -moz-gradient(center top,#4B3E0F 0,#382E0A 100%);
	white-space: nowrap;
	display: inline-block;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.075),inset 0 1px 0 rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.075),inset 0 1px 0 rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.075),inset 0 1px 0 rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.1);

}

.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
	width: 50%;
	float: left;
	clear: left;
}

div.product_meta span.posted_in a {
	color: #000;
	font-weight: bold;
}

.woocommerce table.my_account_orders, .woocommerce-page table.my_account_orders {
	font-size: 1em;
}

.woocommerce .addresses h3 {
	color: #332A0E;
}

.woocommerce #payment, .woocommerce-page #payment {
	background: none;
}

.woocommerce #payment div.form-row, .woocommerce-page #payment div.form-row {
	border-top: none;
}

.woocommerce #payment div.payment_box,.woocommerce-page #payment div.payment_box {
position:relative;
width:96%;
font-size:.92em;
-webkit-border-radius:2px;
border-radius:2px;
line-height:1.5em;
background:#fff;
box-shadow:0 1px 2px 0 rgba(0,0,0,.25);
-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.25);
color:#5e5e5e;
text-shadow:0 1px 0 rgba(255,255,255,.8);
margin:1em 0;
padding:1em 2%;
}

.woocommerce #payment div.payment_box:after,.woocommerce-page #payment div.payment_box:after {
content:"";
display:block;
border:8px solid #fff;
border-right-color:transparent;
border-left-color:transparent;
border-top-color:transparent;
position:absolute;
top:-3px;
left:0;
margin:-1em 0 0 2em;
}

input#place_order {
	width: 20% !important;
	font-size: 100%;
	font-family: 'ITCAmericanTypewriterStdMedium' !important;
	margin: 0;
	line-height: 1em;
	cursor: pointer;
	position: relative;
	font-family: inherit;
	overflow: visible;
	padding: 10px 10px 5px;
	text-decoration: none;
	font-weight: 700;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	left: auto;
	color: #fff;
	border: none;
	text-shadow: none;
	background: #f7f6f7 !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#4B3E0F),to(#382E0A))!important;
	background: -webkit-linear-gradient(#4B3E0F,#382E0A) !important;
	background: -moz-linear-gradient(center top,#4B3E0F 0,#382E0A 100%) !important;
	background: -moz-gradient(center top,#4B3E0F 0,#382E0A 100%) !important;
	white-space: nowrap;
	display: inline-block;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.075),inset 0 1px 0 rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.1) !important;
	-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.075),inset 0 1px 0 rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.1) !important;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.075),inset 0 1px 0 rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.1) !important;
}

input#place_order:hover {
	background: #f7f6f7;
	background: -webkit-gradient(linear,left top,left bottom,from(#645413),to(#382E0A)) !important;
	background: -webkit-linear-gradient(#645413,#382E0A) !important;
	background: -moz-linear-gradient(center top,#645413 0,#382E0A 100%) !important;
	background: -moz-gradient(center top,#645413 0,#382E0A 100%) !important;
	text-decoration: none;
}

div.woocommerce-billing-fields h3, div.woocommerce-shipping-fields h3, #order_review_heading, div#payment h3{
	color: #332A0E;
}