/*
980px grid system ~ Core CSS.
48 columns ~ margin: 20px

Based on the golden grid system - http://code.google.com/p/the-golden-grid/
by Vladimir Carrer

Created by the Grid System Generator - v1.00
Learn more ~ http://www.gridsystemgenerator.com/
*/

/* =Containers
--------------------------------------------------------------------------------*/
.main
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.g20, .g40, .g60, .g80, .g100, .g120, .g140, .g160, .g180, .g200, .g220, .g240, .g260, .g280, .g300, .g320, .g340, .g360, .g380, .g400, .g420, .g440, .g460, .g480, .g500, .g520, .g540, .g560, .g580, .g600, .g620, .g640, .g660, .g680, .g700, .g720, .g740, .g760, .g780, .g800, .g820, .g840, .g860, .g880, .g900, .g920, .g940, .g960 {
	display: inline;
	float: left;
	margin-left: 20px;
}

/* =Grid >> 48 Columns
--------------------------------------------------------------------------------*/
.g20{width:0px;}
.g40{width:20px;}
.g60{width:40px;}
.g80{width:60px;}
.g100{width:80px;}
.g120{width:100px;}
.g140{width:120px;}
.g160{width:140px;}
.g180{width:160px;}
.g200{width:180px;}
.g220{width:200px;}
.g240{width:220px;}
.g260{width:240px;}
.g280{width:260px;}
.g300{width:280px;}
.g320{width:300px;}
.g340{width:320px;}
.g360{width:340px;}
.g380{width:360px;}
.g400{width:380px;}
.g420{width:400px;}
.g440{width:420px;}
.g460{width:440px;}
.g480{width:460px;}
.g500{width:480px;}
.g520{width:500px;}
.g540{width:520px;}
.g560{width:540px;}
.g580{width:560px;}
.g600{width:580px;}
.g620{width:600px;}
.g640{width:620px;}
.g660{width:640px;}
.g680{width:660px;}
.g700{width:680px;}
.g720{width:700px;}
.g740{width:720px;}
.g760{width:740px;}
.g780{width:760px;}
.g800{width:780px;}
.g820{width:800px;}
.g840{width:820px;}
.g860{width:840px;}
.g880{width:860px;}
.g900{width:880px;}
.g920{width:900px;}
.g940{width:920px;}
.g960{width:940px;}


/* =Grid >> 48 Columns - no left margin
--------------------------------------------------------------------------------*/
.ml20{margin-left:40px;}
.ml40{margin-left:60px;}
.ml60{margin-left:80px;}
.ml80{margin-left:100px;}
.ml100{margin-left:120px;}
.ml120{margin-left:140px;}
.ml140{margin-left:160px;}
.ml160{margin-left:180px;}
.ml180{margin-left:200px;}
.ml200{margin-left:220px;}
.ml220{margin-left:240px;}
.ml240{margin-left:260px;}
.ml260{margin-left:280px;}
.ml280{margin-left:300px;}
.ml300{margin-left:320px;}
.ml320{margin-left:340px;}
.ml340{margin-left:360px;}
.ml360{margin-left:380px;}
.ml380{margin-left:400px;}
.ml400{margin-left:420px;}
.ml420{margin-left:440px;}
.ml440{margin-left:460px;}
.ml460{margin-left:480px;}
.ml480{margin-left:500px;}
.ml500{margin-left:520px;}
.ml520{margin-left:540px;}
.ml540{margin-left:560px;}
.ml560{margin-left:580px;}
.ml580{margin-left:600px;}
.ml600{margin-left:620px;}
.ml620{margin-left:640px;}
.ml640{margin-left:660px;}
.ml660{margin-left:680px;}
.ml680{margin-left:700px;}
.ml700{margin-left:720px;}
.ml720{margin-left:740px;}
.ml740{margin-left:760px;}
.ml760{margin-left:780px;}
.ml780{margin-left:800px;}
.ml800{margin-left:820px;}
.ml820{margin-left:840px;}
.ml840{margin-left:860px;}
.ml860{margin-left:880px;}
.ml880{margin-left:900px;}
.ml900{margin-left:920px;}
.ml920{margin-left:940px;}
.ml940{margin-left:960px;}
.ml960{margin-left:980px;}


.inside{margin-left:0;}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content:' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
