/***********master css file***********/
/*************no modificar************/

.main{

}

body{

}

h1,h1 a{

}

h2,h2 a{

}

h3,h3 a{

}

h4,h4 a{

}

h5,h5 a{

}

h6,h6 a{

}

p,ol,ul{
	line-height: 140%;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

a:visited{
	
}

hr{
	margin: 0;
}

.left{
	float: left;
	display: inline;
}

img.left{
	margin: 0 20px 20px 0;
}

.right{
	float: right;
	display: inline;
}

img.right{
	margin: 0 0 20px 20px;
}

.h10px{
	height: 10px;
}

.h20px{
	height: 20px;
}

.h25px{
	height: 25px;
}

.h30px{
	height: 30px;
}

.h40px{
	height: 40px;
}

.h80px{
	height: 80px;
}

.h100px{
	height: 100px;
}

.h120px{
	height: 120px;
}

.h200px{
	height: 200px;
}

.h240px{
	height: 240px;
}

ul.inline{
	
}

ul.inline li{
	list-style: none;
	float: left;
	display: inline-block;
	margin: 0 30px 0 0;
}

ul.inline li.last{
	float: right;
	text-align: right;
	margin: 0;
}

ul.main-nav{
	padding: 12px 0;
	font-size: 15px;
}

ul.second-nav{}

ul.second-nav li{
	margin: 0 10px 0 0;
}

span.small{
	font-size: 10px;
}

span.date{
	font-size: 11px;
	margin: 10px 0;
	display: block;
}

#header{
	height: 100px;
}

#content-home{
	height: 300px;
	background: url(../img/home-bg.jpg) top center no-repeat;
}

#content-home #home-boletin{
	background: #999999;
	color: #fff;
	height: 190px;
	padding: 15px;
}

#content-home #home-boletin h3{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: center;
	margin-bottom: 10px;
}

#content-home #home-boletin input[type=text]{
	border: 1px solid #ccc;
	width: 138px;
	padding: 5px;
}

#content-home #home-boletin input[type=button]{
	width: 150px;
	background: #fff;
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 5px 0;
}

#content-home #home-boletin label{
	display: block;
	margin: 5px 0;
}

#home01-cols{
	background: url(../img/bg-home01-cols.png) top left repeat-y;
}

#home02-cols{
	background: url(../img/bg-home02-cols.png) top left repeat-y;
}

#home03-cols{
	background: url(../img/bg-home03-cols.png) top left repeat-y;
}

#inner-content{

}

#inner-boletin{
	background: #999999;
	color: #fff;
	height: 190px;
	padding: 15px;
}

#inner-boletin h3{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: center;
	margin-bottom: 10px;
}

#inner-boletin input[type=text]{
	border: 1px solid #ccc;
	width: 158px;
	padding: 5px;
}

#inner-boletin input[type=button]{
	width: 170px;
	background: #fff;
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 5px 0;
}

#inner-boletin label{
	display: block;
	margin: 5px 0;
}

a.call-to-120{
	background: url(../img/call-to-120x30.png) top left no-repeat;
	display: inline-block;
	width: 100px;
	height: 25px;
	padding: 5px 10px 0 10px;
}

a.call-to-120:after{
	content: ' ›';
}

a.call-to-200{
	background: url(../img/call-to-200x40.png) top left no-repeat;
	display: inline-block;
	width: 180px;
	height: 30px;
	padding: 10px 10px 0 10px;
}

a.call-to-200:after{
	content: ' ›';
}

a.call-to-url{
	background: url(../img/call-to-url.png) top right no-repeat;
	display: block;
	margin: 5px 0;
	padding: 0 20px 0 0;
	font-size: 13px;
}

#full{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#footer{
	height: 150px;
}

li.social a{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 2px;
}

a.fb{
	background: url(../img/ico-fb.png) top left no-repeat;
}

a.tw{
	background: url(../img/ico-tw.png) top left no-repeat;
}

.search input[type=text]{
	width: 175px;
    height: 20px;
    float: left;
    border: 1px solid #ccc;
    padding: 0px 25px 0 2px;
}

.search input[type=submit]{
	background: transparent url(../img/ico-search.png) no-repeat;
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    margin-left: -22px;
    margin-top: 2px;
}

.wrap{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashedv{
	background: url(../img/bg-dashed-v.png) top center repeat-y;
}

/*jcarousel plugin*/

.jcarousel-container { }

.jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-container-horizontal {
    width: 660px;
    height: 200px;
    overflow: hidden;
    padding: 0 40px;
}

.jcarousel-clip-horizontal {
    width:  660px;
    height: 200px;
    overflow: hidden;
}

.jcarousel-item {
    width: 200px;
    height: 200px;
}

.jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 30px;
}

.jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 30px;
    margin-right: 0;
}

.jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal {
    position: absolute;
    top: 55px;
    right: 0px;
    width: 12px;
    height: 46px;
    cursor: pointer;
    background: transparent url(../img/ico-next.png) no-repeat 0 0;
}

.jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 0px;
    right: auto;
    background-image: url(../img/ico-prev.png);
}

.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:active {
    cursor: default;
}

.jcarousel-prev-horizontal {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 12px;
    height: 46px;
    cursor: pointer;
    background: transparent url(../img/ico-prev.png) no-repeat 0 0;
}

.jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 0px;
    background-image: url(../img/ico-next.png);
}

.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}

/*end of jcarousel plugin*/

/*paginacion*/
.wp-paginate {padding:0; margin:0; font-size: 11px;}
.wp-paginate li {display:inline; list-style:none; margin: 5px 0;}
.wp-paginate a {background:#ddd; border:1px solid #ccc; color:#666; margin-right:4px; padding:3px 6px; text-align:center; text-decoration:none;}
.wp-paginate a:hover, .wp-paginate a:active {background:#B0B0B0; color:#000;}
.wp-paginate .title {color:#555; margin-right:4px;}
.wp-paginate .gap {color:#999; margin-right:4px;}
.wp-paginate .current {color:#fff; background:#B0B0B0; border:1px solid #666666; margin-right:4px; padding:3px 6px;}
.wp-paginate .page {}
.wp-paginate .prev, .wp-paginate .next {}
/*fin paginacion*/

.input-text{
	border: 1px solid #ccc;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	display: block;
	margin: 0 0 10px 0;
	padding: 4px;
}

.input-text.w400{
	width: 390px;
}

.textarea{
	border: 1px solid #ccc;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	display: block;
	margin: 0 0 10px 0;
	padding: 4px;
}

.textarea.w400{
	width: 390px;
}

.overflow{
	overflow: hidden;
}