/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	font: 12px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a:focus {
	outline: 1px dotted;
}

hr {
	border: 0 #e0e0e0 solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 15px;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 27px;
	font-weight: normal;
	margin: 0 0 15px 0;
}

h2 {
	font-size: 21px;
	font-weight: normal;
}

h3 {
	font-size: 15px;
	font-weight: normal;
}

h4 {
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

h5 {
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 10px 0;
}

h6 {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}